{% extends 'base.html' %}
{% block content %}
    <h1>Entradas</h1>
    <form method="POST">
        {% csrf_token %}
        <label>
            <input name="fecha" data="fecha">
        </label>
        <h6>
            El formato a introducir: AAAA-mm-dd
        </h6>
        <button type="submit"> Enviar </button>
    </form>

    <h3>
        Entradas hoy
    </h3>
    <a href="{% url 'exportar_a_excel' %}">Exportar a Excel</a>
        <head>

            <title>Tabla Entradas</title>
        </head>
        <body>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                      <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Proveedor</th>
                          <th scope="col">Especie</th>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Cajas</th>
                          <th scope="col">Precio/kg</th>
                          <th scope="col">Precio/caja</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Editar</th>
                          <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for y in data %}
                      <tr>
                          <th scope="row">{{y.0}}</th>
                          <td>{{y.1}}</td>
                          <td>{{y.2}}</td>
                          <td>{{y.3}}</td>
                          <td>{{y.4}}</td>
                          <td>{{y.5}}</td>
                          <td>{{y.6}}</td>
                          <td>{{y.7}}</td>
                          <td><a class="btn btn-warning" href="{% url 'EditarEntrada' id_entrada=y.0 %}">Editar</a></td>
                          <td><a class="btn btn-danger" href="{% url 'EliminarEntrada' id_entrada=y.0 %}">Eliminar</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>

        </body>

{% endblock %}
